.btn {
  font-weight: 700;
  border: none;
  background-color: brown;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 9999px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: rgb(78, 32, 32);
}
